.Margin-25{
    margin-bottom: 10px;
}
.upload1{
    margin-top: 5px;
}
.inp{
    margin-left: 10px;
}
.fourpics{
    margin-top: -910px;
    margin-left: 530px;
}
.Editpicheader{
    padding-top: 20px;
    font-size: 25px;
    text-align: center;
}
.Editpiccol{
    margin-left: 430px;
}
.all{
    margin-left: 120px;
}