.SubmitPicMargin-25{
    margin-bottom: 10px;
}
.upload{
    margin-left: -80px;
}
.inp{
    margin-left: 1px;
}
.fourpic{
    margin-top: -640px;
    margin-left: 548px;
}
.SubmitPicheader{
    font-size: 25px;
    text-align: center;
    background-color: rgb(235, 198, 199);
}
.SubmitPiccol{
    margin-left: 530px;
}